@charset "UTF-8";

@page { /* defining overall trim size and page layout */
  size: 7in 9.1875in; /* width, height */
  margin-top: 0.75in; /* white space around the page */
  margin-bottom: 0.75in;
  @sidenote {
    float: outside;
    width: 1.1in;
    clear: both;
  }
}

head title { display: none; }

/*cover*/
figure[data-type="cover"] {
  page: cover;
}

figure[data-type="cover"] img {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

body[data-type="book"] > figure[data-type="cover"] + section {
	counter-reset: page 1;
	page-break-before: right;
}

@page cover {
  margin: 0;
  padding: 0;
}

@page :left {
  margin-left: 1.625in;
  margin-right: 1in;
  @bottom-left-corner {
    font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
    font-size: 9pt;
    text-align: left;
    margin-left: 0.375in;
    margin-top: 5pt;
  }
  @top-left {
    font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
    font-size: 8pt;
    text-align: left;
    margin-left: -0.65in;
    margin-top: 6pt;
  }
  @sidenote { margin-left: -1.25in; } 
}

@page :right {
  margin-right: 1.625in;
  margin-left: 1in;
  @bottom-right-corner {
    font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
    font-size: 9pt;
    text-align: right;
    margin-top: 5pt;
    margin-right: 0.375in;
  }
  @top-right {
    font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
    font-size: 8pt;
    text-align: right;
    margin-right: -0.65in;
    margin-top: 6pt;
  }
  @sidenote { margin-right: -1.25in; } 
}

@page :blank { /* defining a truly blank master page */
  @bottom-left-corner { content: none; }
  @bottom-right-corner { content: none; }
  @top-right { content: none; }
  @top-left { content: none; }
}

/* -------------------------------------------------------------- */
/* ------------------------ General Blocks ---------------------- */
/* -------------------------------------------------------------- */
li > p, dd p,
section[data-type="titlepage"] p,
section[data-type="copyright-page"] p,
p[data-type="author"], p.author,
section[data-type="preface"] > h1 + p, 
section[data-type="foreword"] > h1 + p,
div[data-type="part"] > h1 + p, 
section[data-type="chapter"] > h1 + p, 
section[data-type="chapter"] > h1 + div.author p, 
section[data-type="sect1"] > h1 + p, 
section[data-type="sect2"] > h2 + p,
section[data-type="sect3"] > h3 + p,
h1 + p, h2 + p, h3 + P { 
  text-indent: 0; /* first paragraph following a heading has no indent */
}

p, dd { /* general text styles */
  font-family: 'SourceHanSansSC-Light', sans-serif, 'ArialUnicodeMS';
  text-indent: 0.167in;
  font-size: 9.5pt;
  line-height: 13pt;
  margin: 0;
  text-align: justify;
}

/* -------------------------------------------------------------- */
/* ------------------------- Global Styles ---------------------- */
/* -------------------------------------------------------------- */
body {
  -ah-kerning-mode: pair;
  -ah-hyphenate-hyphenated-word: false;
  hyphens: auto;
}

/* general inlines */

a {
  color: cmyk(0%,0%,0%,80%);
  font-weight: bold;
  text-decoration: none;
}

/* counters add auto-numbering to elements in the book. 
   This reset initiates the counters, enabling them 
   to begin numbering correctly. */

body[data-type="book"] {
  counter-reset: page 1 PartNumber ChapterNumber AppendixNumber FigureNumber TableNumber ExampleNumber EquationNumber footnote;
}


/* -------------------------------------------------------------- */
/* -------------------------- Titlepage ------------------------- */
/* -------------------------------------------------------------- */
section[data-type="halftitlepage"], 
section[data-type="titlepage"] {
  page: blank;
  text-align: right;
  page-break-before: right; /* titlepages always start on a right-hand page */
  page-break-after: always;
}

section[data-type="halftitlepage"] h1, 
section[data-type="titlepage"] h1 {
  font-family: Merriweather, serif, ArialUnicodeMS;
  border-bottom: 0.5pt solid cmyk(0%,0%,0%,100%);
  margin-top: 126pt;
  padding-bottom: 7pt;
  text-align: left;
}

section[data-type="halftitlepage"] h2, 
section[data-type="titlepage"] h2,
section[data-type="titlepage"] p.subtitle {
  font-family: SourceSansPro-Semibold, ArialUnicodeMS; 
  font-size: 13pt;
  text-align: left;
}

section[data-type="halftitlepage"] h1 {
  font-size: 16pt;
  line-height: 18pt;
}

section[data-type="titlepage"] h1 {
  font-size: 20pt;
  line-height: 24pt;
  font-weight: normal;
}


section[data-type="titlepage"] p[data-type="author"] {
  font-family: Merriweather, serif, ArialUnicodeMS;
  font-size: 11pt;
  margin-top: 66pt;
}


/* -------------------------------------------------------------- */
/* ------------------------ Copyright Page -----------------------*/
/* -------------------------------------------------------------- */
section[data-type="copyright-page"] {
  page: blank;
  page-break-after: always;
}

section[data-type="copyright-page"] h1 {
  font-family: 'SourceHanSansSC-Light', sans-serif, ArialUnicodeMS;
  font-weight: bold;
  font-size: 8pt;
  margin: 0;
}

section[data-type="copyright-page"] p.author {
  font-size: 8pt;
}

section[data-type="copyright-page"] p {
}

section[data-type="copyright-page"] p.isbn {
}

/* -------------------------------------------------------------- */
/* -------------------------- Dedication -------------------------*/
/* -------------------------------------------------------------- */

section[data-type="dedication"] {
  font-family: 'Crimson-Italic', serif, ArialUnicodeMS;
  font-style: italic;
  page: blank;
  page-break-after: always;
  text-align: center;
  padding-top: 96pt;
}

/* -------------------------------------------------------------- */
/* --------------------------- Praise ----------------------------*/
/* -------------------------------------------------------------- */
section[data-type="dedication"].praise h2.title {
  display: block;
  font-family: "MyriadPro-SemiboldCond", ArialUnicodeMS;
  font-weight: 600;
  font-size: 20pt;
  text-align: center;
  margin-bottom: .75in;
  margin-top: 0;
}

section[data-type="dedication"].praise blockquote {
  hyphens: none;
  margin: 0 0 20pt 0;
}

section[data-type="dedication"].praise blockquote p {
  font-size: 10pt;
  margin-bottom: 4pt;
  text-align: right;
  font-style: normal;
}

section[data-type="dedication"].praise blockquote span.attribution {
  display: inline;
  margin: 0;
  font-style: italic;
}

section[data-type="dedication"].praise blockquote div.attribution {
  margin-left: 30%;
}

/*--Begin support for emphasis in praise text and attributions--*/

section[data-type="dedication"].praise blockquote span.attribution em.citetitle {
  font-style: normal;
}

section[data-type="dedication"].praise blockquote span.attribution em.citetitle span.emphasis em {
  font-style: italic;
}

section[data-type="dedication"].praise blockquote em.p span.emphasis em {
  font-style: italic;
}

section[data-type="dedication"].praise blockquote p span.emphasis em {
  font-style: italic;
}

/*--End support for emphasis in praise text and attributions--*/

/* -------------------------------------------------------------- */
/* ---------------------- Table of Contents ----------------------*/
/* -------------------------------------------------------------- */

@page toc:first {
  @bottom-right-corner {
    content: counter(page, lower-roman);
  }
  @top-right {
    content: none;
  }
}

@page toc:left {
  @bottom-left-corner {
    content: counter(page, lower-roman);
  }
  @top-left {
    content: "Table of Contents";
  }
}

@page toc:right {
  @bottom-right-corner {
    content: counter(page, lower-roman);
  }
  @top-right {
    content: "Table of Contents";
  }
}

@page toc:blank { 
  @bottom-left-corner {
    content: none;
  }
  @bottom-right-corner {
    content: none;
  }
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}

nav[data-type="toc"] > h1 { /* table of contents heading */
  font-family: Merriweather, serif, ArialUnicodeMS;
  font-size: 16pt;
  line-height: 22pt;
  margin-top: 87pt;
  margin-bottom: 77pt;
  text-align: right;
}

nav[data-type="toc"] { /* table of contents is a series of nested lists in a nav element */
  page: toc;
  page-break-before: right;
  font-variant: tabular-nums;
  hyphens: none;
  counter-reset: ChapterNumberTOC PartNumberTOC AppendixNumberTOC;
}

nav[data-type="toc"] a {
  font-weight: normal;
  color: cmyk(0%,0%,0%,100%);
  font-style: normal;
}

nav[data-type="toc"] li { /* no list marker on table of contents entries */
  list-style-type: none;
  margin-left: 0;
  text-align: left;
}

nav[data-type="toc"] ol { margin-left: 0; }

/* global styles for the table of contents */
nav[data-type="toc"] li[data-type="chapter"],
nav[data-type="toc"] li[data-type="appendix"],
nav[data-type="toc"] li[data-type="glossary"],
nav[data-type="toc"] li[data-type="index"],
nav[data-type="toc"] li[data-type="part"] {
  font-family: SourceSansPro-Semibold, sans-serif, ArialUnicodeMS;
  font-size: 9.5pt;
  font-weight: 600;
  margin-top: 14.4pt;
  display: list-item;
  page-break-after: avoid;
}

nav[data-type="toc"] li[data-type="part"] {  margin-top: 24.4pt;}

nav[data-type="toc"] li[data-type="preface"],
nav[data-type="toc"] li[data-type="foreword"] {
  font-family: SourceSansPro-Semibold, sans-serif, ArialUnicodeMS;
  font-style: italic;
  font-size: 9.5pt;
  font-weight: 600;
  display: list-item;
}

nav[data-type="toc"] li[data-type="chapter"] > a:after,
nav[data-type="toc"] li[data-type="appendix"] > a:after,
nav[data-type="toc"] li[data-type="index"] > a:after,
nav[data-type="toc"] li[data-type="glossary"] > a:after,
nav[data-type="toc"] li[data-type="part"] > a:after
/* nav[data-type="toc"] ul li.preface.afterword a:after*/ {
  content: leader(space) " " target-counter(attr(href, url), page);
  font-weight: 600;
}

nav[data-type="toc"] li[data-type="sect1"] a:after,
nav[data-type="toc"] li[data-type="sect2"] a:after {
  content: leader(space) target-counter(attr(href, url), page);
  margin-right: -0.25in; /* for long lines */
}

nav[data-type="toc"] li[data-type="preface"] > a:after,
nav[data-type="toc"] li[data-type="foreword"] > a:after {
  content: leader(space) " " target-counter(attr(href, url), page, lower-roman);
}

nav[data-type="toc"] li[data-type="preface"] li[data-type="sect1"],
nav[data-type="toc"] li[data-type="preface"] li[data-type="sect2"], /* show no heads in preface */
nav[data-type="toc"] li[data-type="foreword"] li[data-type="sect1"],
nav[data-type="toc"] li[data-type="foreword"] li[data-type="sect2"], /* show no heads in foreword */
nav[data-type="toc"] li[data-type="appendix"] li[data-type="sect1"],
nav[data-type="toc"] li[data-type="appendix"] li[data-type="sect2"] { /* and appendix */
  display: none;
}

nav[data-type="toc"] li[data-type="part"]:before {
  content: "PART " counter(PartNumberTOC, upper-roman) ":";
  counter-increment: PartNumberTOC;
}

nav[data-type="toc"] li[data-type="chapter"]:before {
  content: "CHAPTER " counter(ChapterNumberTOC, decimal) ": ";
  counter-increment: ChapterNumberTOC;
}

li[data-type="sect1"], li[data-type="sect2"] {
  font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
  font-size: 9.5pt;
  font-weight: normal;
  page-break-after: auto;
  margin-bottom: 5pt;
  margin-top: 5pt; /* otherwise, cascades from above */ 
}

li[data-type="sect1"] {
  padding-left: 24pt;
  text-indent: -12pt;
  padding-right: 0.25in; /* for long lines; cascades to sect2s */
}

li[data-type="sect2"] {
  padding-left: 0.12in;
  margin-left: 0;
}

/* appendixes */
nav[data-type="toc"] li[data-type="appendix"] {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

nav[data-type="toc"] li[data-type="appendix"]::marker {
  content: counter(AppendixNumberTOC, upper-alpha) ".";
  counter-increment: AppendixNumberTOC;
  margin-right: 5pt;
}

/*hides footnotes from appearing in the TOC*/
nav[data-type="toc"] span[data-type="footnote"] {
 display: none;
}

/* -------------------------------------------------------------- */
/* --------------------------- Headers ---------------------------*/
/* -------------------------------------------------------------- */
/* preface, chapter, and appendix headings */

/* shared styles for all chapter-level headings */
section[data-type="preface"] > h1,
section[data-type="foreword"] > h1, 
section[data-type="chapter"] > h1, 
section[data-type="appendix"] > h1,
section[data-type="index"] > h1,
section[data-type="glossary"] > h1,
section[data-type="colophon"] h1, 
section.abouttheauthor h1  {
  font-family: 'Merriweather', serif, ArialUnicodeMS;
  line-height: 22pt;
  margin-bottom: 0.9in;
  margin-top: 0.5in;
  text-align: right;
}

section[data-type="preface"] > h1 {
  string-set: ChapterTitle self;
}

section[data-type="foreword"] > h1 {
  string-set: ChapterTitle self;
}

section[data-type="chapter"] > h1 {
  string-set: ChapterTitle self, SectionTitle self;
  counter-increment: ChapterNumber;
}

section[data-type="appendix"] > h1 {
  string-set: ChapterTitle self;
  counter-increment: AppendixNumber;
}

/* chapter and appendix headings include auto-numbering */
section[data-type="chapter"] > h1:after, 
section[data-type="appendix"] > h1:after {
  font-size: 65pt;
  font-family: 'SourceSansPro-ExtraLight', sans-serif, ArialUnicodeMS;
  letter-spacing: -3pt;
  display: block;
  position: relative;
  bottom: 0.445in;
  left: 4.5in;
  text-align: center;
  width: 0.75in;
}

section[data-type="chapter"] > h1:after {
  content: counter(ChapterNumber);
}

section[data-type="appendix"] > h1:after {
  content: counter(AppendixNumber, upper-alpha);
}

/* -------------------------------------------------------------- */
/* ---------------------- Section Headings -----------------------*/
/* -------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  hyphens: none;
  text-align: left;
  font-weight: normal;
}

section[data-type="sect1"] > h1 { /* A-level headings */
  font-family: 'Merriweather', serif, ArialUnicodeMS;
  font-weight: bold;
  font-size: 12pt;
  line-height: 16pt;
  margin-top: 18pt;
  margin-bottom: 14pt;
  string-set: SectionTitle self; /* A-heads are also displayed in chapter footers */
}

section[data-type="sect2"] > h2 { /* B-level headings */
  font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
  font-weight: bold;
  font-size: 11pt;
  line-height: 12pt;
  margin-top: 18pt;
  margin-bottom: 13pt;
}

section[data-type="sect3"] > h3 { /* C-level headings */
  font-family: SourceSansPro-Semibold, sans-serif, ArialUnicodeMS;
  font-size: 9.5pt;
  margin-top: 14pt;
  margin-bottom: 10pt;
  line-height: 14pt;
  text-transform: uppercase;
}


/* -------------------------------------------------------------- */
/* --------------------------- Preface ---------------------------*/
/* -------------------------------------------------------------- */

section[data-type="preface"] > h1 {
  font-size: 16pt;
  font-weight: normal;
}

@page preface:first {
  @bottom-right-corner {
    content: counter(page, lower-roman);
  }
  @top-right {
    content: none;
  }
}

@page preface:left {
  @top-left {
    content: string(ChapterTitle);
  }
  @bottom-left-corner {
    content: counter(page, lower-roman);
  }
}

@page preface:right {
  @top-right {
    content: string(ChapterTitle);
  }
  @bottom-right-corner {
    content: counter(page, lower-roman);
  }
}

@page preface:blank { 
  @bottom-left-corner {
    content: none;
  }
  @bottom-right-corner {
    content: none;
  }
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}

section[data-type="preface"] {
  page: preface;
  page-break-before: right; /* forces the preface to start on a right hand page */
  counter-reset: FigureNumber TableNumber ExampleNumber EquationNumber footnote; /* setting auto-numbers for figures, tables, and footnotes to start at 1 */
}

/* -------------------------------------------------------------- */
/* --------------------------- Forward ---------------------------*/
/* -------------------------------------------------------------- */

section[data-type="foreword"] > h1 {
  font-size: 16pt;
  font-weight: normal;
}

@page foreword:first {
  @bottom-right-corner {
    content: counter(page, lower-roman);
  }
  @top-right {
    content: none;
  }
}

@page foreword:left {
  @top-left {
    content: string(ChapterTitle);
  }
  @bottom-left-corner {
    content: counter(page, lower-roman);
  }
}

@page foreword:right {
  @top-right {
    content: string(ChapterTitle);
  }
  @bottom-right-corner {
    content: counter(page, lower-roman);
  }
}

@page foreword:blank { 
  @bottom-left-corner {
    content: none;
  }
  @bottom-right-corner {
    content: none;
  }
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}

section[data-type="foreword"] {
  page: foreword;
  page-break-before: right; /* forces the foreword to start on a right hand page */
  counter-reset: FigureNumber TableNumber ExampleNumber EquationNumber footnote; /* setting auto-numbers for figures, tables, and footnotes to start at 1 */
}

p.byline {
	text-align: right;
	font-style: italic;
}

p.byline:before { content: "\2014 " }

/* -------------------------------------------------------------- */
/* --------------------------- Parts -----------------------------*/
/* -------------------------------------------------------------- */

div[data-type="part"] {
  page: blank;
  page-break-before: right;
}

div[data-type="part"] > h1 {
  font-family: 'OpenSans-CondBold', sans-serif, ArialUnicodeMS;
  font-size: 18pt;
  line-height: 22pt;
  text-align: center;
  margin-top: 0;
  margin-bottom: 28pt;
  counter-increment: PartNumber;
}

div[data-type="part"] > h1:before {
  font-family: 'OpenSans-Semibold', sans-serif, ArialUnicodeMS;
  font-size: 11pt;
  text-transform: uppercase;
  content: "Part " counter(PartNumber);
  display: block;
  text-align: center;
  margin-top: 72pt;
  margin-bottom: 34pt;
}

/* -------------------------------------------------------------- */
/* --------------------------- Chapters --------------------------*/
/* -------------------------------------------------------------- */

@page chapter:first {
  @top-right {
    content: none;
  }
}

@page chapter:left {
  @bottom-left-corner {
    content: counter(page);
  }
  @top-left {
    content: "CHAPTER "counter(ChapterNumber)": "string(ChapterTitle);
  }
}

@page chapter:right {
  @bottom-right-corner {
    content: counter(page);
  }
  @top-right {
    content: string(SectionTitle);
  }
}

@page chapter:blank { 
  @bottom-left-corner {
    content: none;
  }
  @bottom-right-corner {
    content: none;
  }
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}

/* --------------------------------------------------------------------- */
/* ------------------------------ Tables ------------------------------- */
/* --------------------------------------------------------------------- */

table {
  margin: 12pt 0;
  border-collapse: collapse;
}

thead+tbody {
  border-bottom: 0.5pt solid cmyk(0%,0%,0%,100%);
}

table caption {
  margin-bottom: 5pt;
  page-break-after: avoid;
  text-align: left;
  font-family: Merriweather, serif, ArialUnicodeMS;
  font-style: italic;
  font-size: 7.5pt;
  line-height: 10pt;
  hyphens: none;
}

table caption:before {
  font-family: SourceSansPro-Black, sans-serif, ArialUnicodeMS;
  font-style: normal;
  font-size: 8.5pt;
  counter-increment: TableNumber;
  content: "TABLE " counter(ChapterNumber) "-" counter(TableNumber)". ";
  margin-bottom: 7.2pt;
  margin-top: 0;
}

section[data-type="preface"] table caption:before {
  content: "TABLE P-"counter(TableNumber)". ";
}

section[data-type="foreword"] table caption:before {
  content: "TABLE F-"counter(TableNumber)". ";
}

section[data-type="appendix"] table caption:before {
  content: "TABLE " counter(AppendixNumber)"-"counter(TableNumber)". ";
}

tr {
  border-width: 0;
}

th { /* table heading rows */
  font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
  font-weight: bold;
  font-size: 9pt;
  text-align: left;
  margin-top: 0;
  border-top: 0.5pt solid cmyk(0%,0%,0%,100%);
  border-bottom: 0.5pt solid cmyk(0%,0%,0%,100%);
}

th, td {
  padding: 4.5pt 0.0625in 4.5pt 0.0625in;
}

td, table p { /* table body text */
  font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
  font-size: 9pt;
  line-height: 10pt;
}

table p { /* table body text */
  text-indent: 0;
  margin: 0;
}

td pre.programlisting, td pre.screen, td pre.literallayout, td code { /* allow code in tables to wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* --------------------------------------------------------------------- */
/* ------------------------------ Figures ------------------------------ */
/* --------------------------------------------------------------------- */
figure {
  display: block;
  border-top: 0.5pt solid cmyk(0%,0%,0%,100%);
  border-bottom: 0.5pt solid cmyk(0%,0%,0%,100%);
  margin: 20pt -1.625in;
  padding: 8.64pt 1.625in;
  width: 4.375in;
  text-align: center; /* in AH Land, this is how you center an img in a block */
  overflow: auto;
}

figure figcaption {
  display: block;
  -ah-float: outside page; 
  clear: both;
  margin-left: -1.25in;
  margin-right: -1.25in;
  width: 1in;
  text-align: left;
  font-family: Merriweather, serif, ArialUnicodeMS;
  font-style: italic;
  font-size: 7.5pt;
  line-height: 10pt;
  hyphens: none;
}

figcaption:before {
  font-family: SourceSansPro-Black, sans-serif, ArialUnicodeMS;
  font-style: normal;
  font-size: 8.5pt;
  counter-increment: FigureNumber;
  content: "FIGURE " counter(ChapterNumber) "-" counter(FigureNumber);
  display: block;
  margin-bottom: 7.2pt;
}

section[data-type="preface"] figcaption:before {
  content: "Figure P-"counter(FigureNumber)". ";
}

section[data-type="foreword"] figcaption:before {
  content: "Figure F-"counter(FigureNumber)". ";
}

section[data-type="appendix"] figcaption:before {
  content: "Figure " counter(AppendixNumber)"-"counter(FigureNumber)". ";
}

img {
  max-width: 100%;
  margin: 15pt auto;
}

figure img { 
  max-width: 4.375in;
  margin: 0 auto;
}

dt img {
  display: inline-block;
  margin: 0;
}

figure div.border-box { display: inline }

/*figures in tables*/
table figure {
 border-top: 0;
 border-bottom: 0;
 display: inline;
 margin-bottom: 12pt;
 text-align: center;
 width: auto;
}

/*fullpage figures*/
figure.fullpage  {
 padding: 0;
 margin-left: -22pt;
 border-top: 0;
 border-bottom: 0;
 max-width: 100%;
}

figure.fullpage img { 
  max-width: 7in;
}

figure.fullpage figcaption {
  -ah-float: none; 
  display: none;
}

/* -------------------------------------------------------------- */
/* -------------------------- Sidebars ---------------------------*/
/* -------------------------------------------------------------- */

aside[data-type="sidebar"] { /* sidebar containers */
  background-color: cmyk(0%,0%,0%,15%);
  margin: 0.25in -1.625in;
  padding: 0.25in 1.625in;
  width: 4.375in;
  clear: both;
}

aside h5 { /* sidebar titles */
  font-family: SourceSansPro-Bold, sans-serif, ArialUnicodeMS;
  font-size: 11pt;
  line-height: 13pt;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.2in;
  margin-top: 0;
}

aside h6 { /* sidebar subtitles */
}

aside p, aside dd { /* sidebar text */
  font-size: 7.5pt;
  font-family: Merriweather, serif, ArialUnicodeMS;
  line-height: 11.5pt;
  text-indent: 0;
  margin-bottom: 6pt;
}

aside dt {
  font-size: 7.5pt;
  font-family: Merriweather, serif, ArialUnicodeMS;
  font-weight: bold;
}
  
/* -------------------------------------------------------------- */
/* ------------------------ Admonitions --------------------------*/
/* -------------------------------------------------------------- */

div[data-type="note"], 
div[data-type="warning"],
div[data-type="tip"],
div[data-type="caution"],
div[data-type="important"]
 { /* admonition containers */
  margin: 10pt 20pt;
  padding-top: 5pt;
  border-top: solid 0.5pt cmyk(0%,0%,0%,100%);
  border-bottom: solid 0.5pt cmyk(0%,0%,0%,100%);
  page-break-inside: avoid;
}

div[data-type="note"] p, 
div[data-type="warning"] p,
div[data-type="tip"] p,
div[data-type="caution"] p,
div[data-type="important"] p { /* admon text */
  font-family: Merriweather, serif, ArialUnicodeMS;
  text-align: left;
  text-indent: 0;
  font-size: 7.5pt;
  line-height: 11pt;
  margin-bottom: 6pt;
}

div[data-type="note"] li, 
div[data-type="warning"] li,
div[data-type="tip"] li,
div[data-type="caution"] li,
div[data-type="important"] li {
  font-family: Merriweather, serif, ArialUnicodeMS;
  font-size: 7.5pt;
}

div[data-type="note"] h1, 
div[data-type="warning"] h1,
div[data-type="tip"] h1,
div[data-type="caution"] h1,
div[data-type="important"] h1 { /* admonition titles */
  font-family: 'SourceSansPro-Black', sans-serif, ArialUnicodeMS;
  font-size: 8.5pt;
  text-transform: uppercase;
  letter-spacing: 0.75pt;
  margin-bottom: 7pt;
  margin-top: 0;
}

div[data-type="note"] pre, 
div[data-type="warning"] pre,
div[data-type="tip"] pre,
div[data-type="caution"] pre,
div[data-type="important"] pre {
  font-size: 7.5pt;
  margin: 0 0 6pt 4pt;
} 

/* -------------------------------------------------------------- */
/* ---------------------------- Code -----------------------------*/
/* -------------------------------------------------------------- */

pre, code { /* monospace font for both code blocks and inline code */
  font-family: 'UbuntuMono', monospace, ArialUnicodeMS;
}

pre { /* code blocks */
  font-size: 9pt;
  line-height: 11pt;
  margin: 12pt 0 12pt 0.167in;
  -ah-ignore-leading-newline: true;
}

code { font-size: 107%; }

pre code { font-size: inherit; }

div[data-type="example"] h5 {
  margin-bottom: 5pt;
  page-break-after: avoid;
  text-align: left;
  font-family: Merriweather, serif, ArialUnicodeMS;
  font-style: italic;
  font-size: 7.5pt;
  line-height: 10pt;
  hyphens: none;
}

div[data-type="example"] h5:before {
  font-family: 'SourceSansPro-Black', sans-serif, ArialUnicodeMS;
  font-style: normal;
  font-size: 8.5pt;
  counter-increment: ExampleNumber;
  content: "EXAMPLE " counter(ChapterNumber) "-" counter(ExampleNumber)". ";
  margin-bottom: 7.2pt;
  margin-top: 0;
}

section[data-type="preface"] div[data-type="example"] h5:before {
  content: "EXAMPLE P-"counter(ExampleNumber)". ";
}

section[data-type="foreword"] div[data-type="example"] h5:before {
  content: "EXAMPLE F-"counter(ExampleNumber)". ";
}

section[data-type="appendix"] div[data-type="example"] h5:before {
  content: "EXAMPLE " counter(AppendixNumber)"-"counter(ExampleNumber)". ";
}

div[data-type="example"] pre {
  margin-left: 0;
}

/* -------------------------------------------------------------- */
/* ------------------------ Blockquotes --------------------------*/
/* -------------------------------------------------------------- */

blockquote {
  margin: 15pt 0.1667in;
}

blockquote p {
  text-indent: 0;
  font-family: 'SourceHanSansSC-Light', sans-serif, ArialUnicodeMS;
  font-size: 7.5pt;
}

p[data-type="attribution"] {
  text-align: right;
  margin-top: 6pt;
}

/* -------------------------------------------------------------- */
/* ---------------------------- Math -----------------------------*/
/* -------------------------------------------------------------- */

div[data-type="equation"] {
  margin: 12pt 0 12pt 0.167in;
}

@namespace mml "http://www.w3.org/1998/Math/MathML";

mml|math {
  font-size: 12pt;
}

div[data-type="equation"] h5 {
  -ah-float: outside page;
  clear: both;
  margin: 0 -1.25in;
  padding-top: 5pt;
  border-top: solid 0.5pt cmyk(0%,0%,0%,100%);
  width: 1in;
  page-break-inside: avoid;
  text-align: left;
  font-family: Merriweather, serif, ArialUnicodeMS;
  font-style: italic;
  font-size: 7.5pt;
  line-height: 10pt;
  hyphens: none;
}

div[data-type="equation"] h5:before {
  font-family: SourceSansPro-Black, sans-serif, ArialUnicodeMS;
  font-style: normal;
  font-size: 8.5pt;
  counter-increment: EquationNumber;
  content: "EQUATION " counter(ChapterNumber) "-" counter(EquationNumber);
  display: block;
  margin-bottom: 7.2pt;
}

section[data-type="preface"] div[data-type="equation"] h5:before {
  content: "EQUATION P-"counter(EquationNumber)". ";
}

section[data-type="foreword"] div[data-type="equation"] h5:before {
  content: "EQUATION F-"counter(EquationNumber)". ";
}

section[data-type="appendix"] div[data-type="equation"] h5:before {
  content: "EQUATION " counter(AppendixNumber)"-"counter(EquationNumber)". ";
}

/* -------------------------------------------------------------- */
/* ----------------------- Counter Reset -------------------------*/
/* -------------------------------------------------------------- */

section[data-type="chapter"] {
  page: chapter;
  page-break-before: right; /* forces new chapters to start on a right hand page */
  counter-reset: TableNumber FigureNumber ExampleNumber EquationNumber footnote;
}

section[data-type="chapter"].pagenumrestart
{ counter-reset: page 1 FigureNumber TableNumber ExampleNumber EquationNumber footnote}

div[data-type="part"].pagenumrestart
{ counter-reset: page 1 FigureNumber TableNumber ExampleNumber EquationNumber footnote}

/* -------------------------------------------------------------- */
/* ------------------------ Appendicies --------------------------*/
/* -------------------------------------------------------------- */
@page appendix:first {
  @bottom-left {
    content: normal;
  }
}

@page appendix:left {
  @bottom-left {
    content: counter(page);
  }
  @bottom-right {
    content: "Appendix "counter(AppendixNumber, upper-alpha)", "string(ChapterTitle);
  }
}

@page appendix:right {
  @bottom-right {
    content: counter(page);
  }
  @bottom-left {
    content: string(SectionTitle);
  }
}

section[data-type="appendix"] {
  page: appendix;
  page-break-before: right; /* forces new chapters to start on a right hand page */
  counter-reset: FigureNumber TableNumber ExampleNumber EquationNumber footnote;
}

/* --------------------------------------------------------------------- */
/* ------------------------------- Lists ------------------------------- */
/* --------------------------------------------------------------------- */

ul, ol { /* bulleted and numbered lists */
  margin: 7pt 0 7pt .33in;
}

ul li, ol li {
  font-family: SourceHanSansSC-Light, ArialUnicodeMS;
  font-size: 9.5pt;
  margin-top: 3pt;
}

dl { /* definition lists */
  margin-bottom: 7pt;
}

dt { /* definition list terms */
  font-family: SourceSansPro-Semibold, ArialUnicodeMS;
  font-size: 9.5pt;
  line-height: 14pt;
  margin-top: 7pt;
}

dd { /* definition list descriptions */
  text-indent: 0;
  margin-left: 0.1667in;
}

/* turning off justification for lists*/
ol li ul li p{ 
 text-align: left;
}


/* callouts */

a.co img {
  margin: 0;
}

dl.calloutlist {
  text-align: justify;
}

dl.calloutlist dt {
  position: relative;
  line-height: 0;
  top: 5pt;
  margin-bottom: -4pt;
  page-break-after: avoid;
}


/* --------------------------------------------------------------------- */
/* ------------------------------- Index ------------------------------- */
/* --------------------------------------------------------------------- */

section[data-type="index"] { page: index }

@page index:left {
  @bottom-left {
    content: counter(page);
    font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
  }
  @top-left-corner {
    border-left: solid 23.4pt cmyk(0%,0%,0%,65%);
  margin: -9pt 0 0 -9pt;
  }
  @left-top {
  border-left: solid 23.4pt cmyk(0%,0%,0%,65%);
  margin: -2pt 0 -2pt -9pt;
  }
  @bottom-left-corner {
  border-left: solid 23.4pt cmyk(0%,0%,0%,65%);
  margin: 0 0 -9pt -9pt;
  }
}

@page index:right {
  @bottom-right {
    content: counter(page);
    font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
  }
  @top-right-corner {
    border-right: solid 23.4pt cmyk(0%,0%,0%,65%);
  margin: -9pt -9pt 0 0;
  }
  @right-top {
  border-right: solid 23.4pt cmyk(0%,0%,0%,65%);
  margin: -2pt -9pt -2pt 0;
  }
  @bottom-right-corner {
  border-right: solid 23.4pt cmyk(0%,0%,0%,65%);
  margin: 0 -9pt -9pt 0;
  }
}

.indexnote {
  content: "Weâd like to hear your suggestions for improving our indexes. Send email to index@oreilly.com.";
  float: bottom;
  margin-top: 15pt;
  font-size: 8.5pt;
  font-style: italic;
  hyphens: none;
}

div[data-type="index"] {
  column-count: 2;
  column-gap: 15pt;
}

a[data-type="index:locator"] { content: target-counter(attr(href, url), page); }

/*index markers as roman numrals*/
a[data-type="index:locator"][data-xref-pagenum-style="lower-roman"] 
{ content: target-counter(attr(href, url), page, lower-roman) }

section[data-type="index"] ul {
  margin: 0;
  padding: 0;
}

section[data-type="index"] ul li {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0.17in;
  text-indent: -0.17in;
  font-size: 9pt;
}

div[data-type="indexdiv"] h3 {
  font-size: 14pt;
  margin: 12pt 0 0 0;
}

section[data-type="index"],
section[data-type="glossary"],
section[data-type="bibliography"] {page-break-before: right;}

/* --------------------------------------------------------------------- */
/* ----------------------------- Glossary ------------------------------ */
/* --------------------------------------------------------------------- */

section[data-type="glossary"] { page: glossary }

@page glossary:first {
  @top-right { content: none }
}
  
@page glossary:left {
  @bottom-left { content: counter(page);
      font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
 }
  @top-left {
    content: string(term, first);
    font-size: 9pt;
  }
}

@page glossary:right {
  @bottom-right { content: counter(page);
      font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
 }
  @top-right {
    content: string(term, last);
    font-size: 9pt;
  }
}

section[data-type="glossary"] dl { 
  column-count: 2;
  column-gap: 0.25in;
  -ah-column-fill: balance;
}

section[data-type="glossary"] dt {
  font-style: normal;
  font-size: 9pt;
  string-set: term self;
}

section[data-type="glossary"] dd p { font-size: 9pt }

section[data-type="glossary"] dd { font-size: 9pt }

/* -------------------------------------------------------------- */
/* --------------------- Footnote Settings ---------------------- */
/* -------------------------------------------------------------- */
span[data-type="footnote"],
h1 > span[data-type="footnote"] {
  -ah-float: footnote;
  font-size: 8pt;
  line-height: 10pt;
  margin-left: 8pt;
  margin-bottom: 3pt;
  text-align: left;
  text-indent: 0;
  font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
  font-weight: normal;
}

::footnote-call,
::footnote-marker {
  content: counter(footnote, decimal);
  line-height: 5pt;
}

::footnote-call { font-size: 6pt }

::footnote-marker { font-size: 7pt }

/* --------------------------------------------------------------------- */
/* --------------------------- Bibliography ---------------------------- */
/* --------------------------------------------------------------------- */

section[data-type="bibliography"] { page: bibliography }

@page bibliography:first {
  @top-right { content: none }
}
  
@page bibliography:left {
  @bottom-left { content: counter(page);
      font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
 }
}

@page bibliography:right {
  @bottom-right { content: counter(page);
      font-family: SourceHanSansSC-Light, sans-serif, ArialUnicodeMS;
 }
}

/* --------------------------------------------------------------------- */
/* -------------------------- About/Colophon --------------------------- */
/* --------------------------------------------------------------------- */

section.abouttheauthor { page: abouttheauthor }

@page abouttheauthor {
  border-bottom: none;
    @top-right { content: none }
    @bottom-left { content: none }
    @bottom-right { content: none }
}

section[data-type="colophon"] { page: colophon }

@page colophon {
  border-bottom: none;
    @top-right { content: none }
    @bottom-left { content: none }
    @bottom-right { content: none }
}


@page toc:blank {
  @bottom-left { content: none }
  @bottom-right { content: none }
}
@page chapter:blank {
  @bottom-left { content: none }
  @bottom-right { content: none }
}
@page appendix:blank {
  @bottom-left { content: none }
  @bottom-right { content: none }
}
@page preface:blank {
  @bottom-left { content: none }
  @bottom-right { content: none }
}
@page glossary:blank {
  @bottom-left { content: none }
  @bottom-right { content: none }
}
@page bibliography:blank {
  @bottom-left { content: none }
  @bottom-right { content: none }
}
@page index:blank {
  @bottom-left { content: none }
  @bottom-right { content: none }
}

/* --------------------------------------------------------------------- */
/* ----------------------- Styling for Comments ------------------------ */
/* --------------------------------------------------------------------- */

/* Sticky note style box for comment*/
div[data-type="comment"] {
	width: auto;
	max-width: 80%;
	background-color: #ffff99;
	border: 0.25pt solid cmyk(0%,0%,0%,25%);
	box-shadow: 1pt 1pt 1.5pt rgba(0,0,0,0.3);
	margin: 5pt 0 15pt;
	padding: 5pt;
	display: table;
	page-break-inside: avoid;
	page-break-before: avoid;
}

/* Comment text */
div[data-type="comment"] p {
	font-family: "Lato";
	font-size: 10pt;
	line-height: 13pt;
	text-align:left;
	text-indent: 0;
	margin: 0;
	padding: 5pt 5pt 0;
	border-top: 0.5pt solid cmyk(0%,0%,0%,100%);
	hyphens: none;
}

/* -------------------------------------------------------------- */
/* ------------------------- Comments ----------------------------*/
/* -------------------------------------------------------------- */
div.comment-identifier {
	font-family: "BentonSans-Bold";
	font-size: 8pt;
	margin: 0 5pt 2pt;
	padding: 0;
	text-align:left;
}

/* remove <img> and <i> tags */
div.comment-identifier img,
div.comment-identifier i { display: none } 


/* --------------------------------------------------------------------- */
/* --------------------------- PDF Bookmarks --------------------------- */
/* --------------------------------------------------------------------- */
/* revise these for HTMLBook */

figure[data-type="cover"] {
  bookmark-level: 1;
  bookmark-state: closed;
  bookmark-label: "Cover";
}

section[data-type="copyright-page"] {
  bookmark-level: 1;
  bookmark-state: closed;
  bookmark-label: "Copyright"; 
}

nav[data-type="toc"] {
  bookmark-level: 1;
  bookmark-state: closed;
  bookmark-label: "Table of Contents"; 
}

section[data-type="foreword"] {
  bookmark-level: 1; 
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

section[data-type="preface"] {
  bookmark-level: 1; 
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

div[data-type="part"] {
  bookmark-level: 1;
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

/* ---------- Bookmark logic for titles that don't have parts ---------- */

section[data-type="chapter"] {
  bookmark-level: 1;
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

section[data-type="sect1"] { 
  bookmark-level: 2; 
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

section[data-type="sect2"] { 
  bookmark-level: 3; 
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

section[data-type="appendix"] {
  bookmark-level: 1;
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

section[data-type="glossary"] {
  bookmark-level: 1;
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

section[data-type="bibliography"] {
  bookmark-level: 1;
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark); 
}

section[data-type="index"] {
  bookmark-level: 1;
  bookmark-state: closed;
  bookmark-label: "Index"; 
}

section[data-type="afterword"] {
  bookmark-level: 1;
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark); 
}

section.abouttheauthor {
  bookmark-level: 1;
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark); 
}

/* ----------- Bookmark logic for titles that do have parts: ----------- */
/* ------- chapters, appendixes, glossaries, sect1s, and sect2s -------- */
/* --------------- within a part are bumped down a level --------------- */

div[data-type="part"] section[data-type="chapter"] {
  bookmark-level: 2;
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

div[data-type="part"] section[data-type="sect1"] { 
  bookmark-level: 3; 
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

div[data-type="part"] section[data-type="sect2"] { 
  bookmark-level: 4; 
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

div[data-type="part"] section[data-type="afterword"] {
  bookmark-level: 2;
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
} 

div[data-type="part"] section[data-type="appendix"] { 
  bookmark-level: 2;
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

div[data-type="part"] section[data-type="glossary"] { 
  bookmark-level: 2;
  bookmark-state: closed;
  bookmark-label: attr(data-pdf-bookmark);
}

/* --------------------------------------------------------------------- */
/* -------------------------- Custom Classes --------------------------- */
/* --------------------------------------------------------------------- */
/* force a page break */

div.hard-pagebreak {
  page-break-after: always;
}
/* Page-breaking */
.pagebreak-before { page-break-before: always }
.pagebreak-after { page-break-after: always }

/* Variable Widths */
/* Do not add the "width" attribute directly to an HTML tag */
/* Use one of these instead */
.width-25 { width: 25% }
.width-50 { width: 50% }
.width-75 { width: 75% }
.width-100 { width: 100% }



/* syntax highlighting and coloring text in general */

/* Pygments with manni theme */
pre code.hll { background-color: #ffffcc }
pre code.c { color: #0099FF; font-style: italic } /* Comment */
pre code.err { color: #AA0000 } /* Error */
pre code.k { color: #006699; font-weight: bold } /* Keyword */
pre code.o { color: #555555 } /* Operator */
pre code.cm { color: #35586C; font-style: italic } /* Comment.Multiline */
pre code.cp { color: #009999 } /* Comment.Preproc */
pre code.c1 { color: #35586C; font-style: italic } /* Comment.Single */
pre code.cs { color: #35586C; font-weight: bold; font-style: italic } /* Comment.Special */
pre code.gd { background-color: #FFCCCC } /* Generic.Deleted */
pre code.ge { font-style: italic } /* Generic.Emph */
pre code.gr { color: #FF0000 } /* Generic.Error */
pre code.gh { color: #003300; font-weight: bold } /* Generic.Heading */
pre code.gi { background-color: #CCFFCC } /* Generic.Inserted */

/* Overriding default manni style of #AAAAAA gray for Generic Output with #000000 black, which is better suited to ORM terminal output */
pre code.go { color: #000000 } /* Generic.Output  */

pre code.gp { color: #000099; font-weight: bold } /* Generic.Prompt */
pre code.gs { font-weight: bold } /* Generic.Strong */
pre code.gu { color: #003300; font-weight: bold } /* Generic.Subheading */
pre code.gt { color: #99CC66 } /* Generic.Traceback */
pre code.kc { color: #006699; font-weight: bold } /* Keyword.Constant */
pre code.kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
pre code.kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
pre code.kp { color: #006699 } /* Keyword.Pseudo */
pre code.kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
pre code.kt { color: #007788; font-weight: bold } /* Keyword.Type */
pre code.m { color: #FF6600 } /* Literal.Number */
pre code.s { color: #CC3300 } /* Literal.String */
pre code.na { color: #330099 } /* Name.Attribute */
pre code.nb { color: #336666 } /* Name.Builtin */
pre code.nc { color: #00AA88; font-weight: bold } /* Name.Class */
pre code.no { color: #336600 } /* Name.Constant */
pre code.nd { color: #9999FF } /* Name.Decorator */
pre code.ni { color: #999999; font-weight: bold } /* Name.Entity */
pre code.ne { color: #CC0000; font-weight: bold } /* Name.Exception */
pre code.nf { color: #CC00FF } /* Name.Function */
pre code.nl { color: #9999FF } /* Name.Label */
pre code.nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
pre code.nt { color: #330099; font-weight: bold } /* Name.Tag */
pre code.nv { color: #003333 } /* Name.Variable */
pre code.ow { color: #000000; font-weight: bold } /* Operator.Word */
pre code.w { color: #bbbbbb } /* Text.Whitespace */
pre code.mf { color: #FF6600 } /* Literal.Number.Float */
pre code.mh { color: #FF6600 } /* Literal.Number.Hex */
pre code.mi { color: #FF6600 } /* Literal.Number.Integer */
pre code.mo { color: #FF6600 } /* Literal.Number.Oct */
pre code.sb { color: #CC3300 } /* Literal.String.Backtick */
pre code.sc { color: #CC3300 } /* Literal.String.Char */
pre code.sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
pre code.s2 { color: #CC3300 } /* Literal.String.Double */
pre code.se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
pre code.sh { color: #CC3300 } /* Literal.String.Heredoc */
pre code.si { color: #AA0000 } /* Literal.String.Interpol */
pre code.sx { color: #CC3300 } /* Literal.String.Other */
pre code.sr { color: #33AAAA } /* Literal.String.Regex */
pre code.s1 { color: #CC3300 } /* Literal.String.Single */

/* Overriding manni default yellow #FFCC33 with brown #AA6600, which is easier to read */
pre code.ss { color: #AA6600 } /* Literal.String.Symbol */

pre code.bp { color: #336666 } /* Name.Builtin.Pseudo */
pre code.vc { color: #003333 } /* Name.Variable.Class */
pre code.vg { color: #003333 } /* Name.Variable.Global */
pre code.vi { color: #003333 } /* Name.Variable.Instance */
pre code.il { color: #FF6600 } /* Literal.Number.Integer.Long */

/* Sanders's additions to manni */
pre code.g { color: #005500 } /* Generic */
pre code.l { color: #CC6600 } /* Literal */
pre code.l { color: #FF9900 } /* Literal.Date */
pre code.n { color: #000088 } /* Name */
pre code.nx { color: #000088 } /* Name.Other */
pre code.py { color: #9966FF } /* Name.Property */
pre code.p { color: #000000 } /* Punctuation */
pre code.x { color: #FF0066 } /* Other */

/* Chacon's additions to make command line look more like a command line */
pre[data-code-language="console"] {
  background: #ddd;
  padding: 10px;
}
pre[data-code-language="console"] code.go {
  color: #555;
  font-size: 1.0em;
}
pre[data-code-language="console"] code.gp {
  color: #009900;
  font-weight: bold;
}
